################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MMCarInsurance
/MMCarInsurance/bin/Debug/netcoreapp3.1
/MMCarInsurance/obj
